# Node modules
node_modules/

# macOS specific files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# production build files
dist/
build/

# various temporary files
*.log
.env
.env.local
.env.*.local
.idea/
.vscode/

# Test coverage
coverage/
.nyc_output/